/* style.css, style.css.map, and style.scss must all be in the theme root directory */
/* Setting root font size to 62.5% so 10px = 1 rem, 15px = 1.5rem, so and and so forth  */
html {
  font-size: 62.5%;
}

.wp-block-themeisle-blocks-posts-grid .o-posts-grid-post-image img {
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*****************************/
/* Performance Archive Cards */
/*****************************/
.heading-position {
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-archive-wrapper {
  margin-bottom: 100px;
}

.card-flex-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.performance-card {
  max-width: 350px;
  border: 1px solid #7e8693;
  margin: 0 2rem 5rem;
  /* maxes card title to 3 h3 lines */
}

.performance-card h2 {
  font-size: 3.2rem;
}

.performance-card h3 {
  font-size: 2.5rem;
  margin-bottom: 0rem;
}

.performance-card h4 {
  font-size: 1.6rem;
  margin-bottom: 0rem;
}

.performance-card h4 a {
  color: var(--nv-secondary-accent);
}

.performance-card .card-img-top {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.performance-card .card-body-wrapper {
  padding: 0 2rem;
}

.performance-card .card-title {
  height: 132px;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.performance-card .performer-name {
  font-size: 2.5rem;
  height: 55px;
  line-height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.performance-card .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.performance-card .btn {
  font-size: 1.6rem;
  width: 75px;
}

.performance-card .event-dates {
  max-width: 350px;
  height: 220px;
  margin: 2rem 0;
  overflow-y: auto;
}

.performance-card .event-dates-list li {
  font-size: 1.9rem;
  /* Default font size */
}

.performance-card .event-dates-list.small li {
  font-size: 1.6rem;
  /* Smaller font size */
}

/*****************************/
/*       Media Queries       */
/*****************************/
@media (min-width: 992px) and (max-width: 1172px) {
  .performance-card {
    max-width: 290px;
  }
  .performance-card .card-img-top {
    height: 17rem;
  }
  .performance-card .card-title {
    height: 115px;
  }
  .performance-card h2 {
    font-size: 2.7rem;
  }
  .performance-card .performer-name {
    font-size: 2.1rem;
  }
  .performance-card .event-dates-list li {
    font-size: 1.6rem;
  }
  .performance-card .is-style-primary {
    width: 145px;
    font-size: 1.6rem;
    padding: 1rem;
  }
}

@media (max-width: 779px) {
  .heading-position {
    height: 13rem;
  }
  .performance-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: none;
    width: 100vw;
    max-width: 41rem;
  }
  .performance-card h2 {
    font-size: 2.2rem;
    margin: 0 auto;
  }
  .performance-card .card-body-wrapper {
    padding: 0 7px;
    width: 330px;
    padding: 0.5rem 1rem;
    margin: 0 auto;
  }
  .performance-card .card-title {
    height: 60px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    position: relative;
    bottom: 30px;
  }
  .performance-card .performer-name {
    font-size: 1.9rem;
    height: 49px;
    line-height: 2.2rem;
  }
  .performance-card .event-dates {
    height: 175px;
  }
}
/*# sourceMappingURL=style.css.map */