/* style.css, style.css.map, and style.scss must all be in the theme root directory */
/* Setting root font size to 62.5% so 10px = 1 rem, 15px = 1.5rem, so and and so forth  */
html {
  font-size: 62.5%;
}

.wp-block-themeisle-blocks-posts-grid .o-posts-grid-post-image img {
  max-height: 250px;
  object-fit: cover;
}

.performance-card {
  margin: 0 2rem;
  max-width: 350px;
  background-color: turquoise;
  /* maxes card title to 3 h3 lines */
  .card-title {
    background-color: tomato;
    height: 9.5rem;
    max-height: 9.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
    margin-top: 10px;

  }
  .btn {
    font-size: 1.6rem;
    width: 75px;
  }
}