/* style.css, style.css.map, and style.scss must all be in the theme root directory */
/* Setting root font size to 62.5% so 10px = 1 rem, 15px = 1.5rem, so and and so forth  */
html {
  font-size: 62.5%;
}

.wp-block-themeisle-blocks-posts-grid .o-posts-grid-post-image img {
  max-height: 250px;
  object-fit: cover;
}
.heading-position {
  height: 25rem;
  display: flex;
  align-items: center;
}
.performance-card {
  margin: 0 2rem;
  max-width: 350px;
  background-color: turquoise;
  h2 {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 2.9rem;
    margin-bottom: 0rem;
  }
  h4 {
    font-size: 2.2rem;
    margin-bottom: 0rem;
    a {
      color: var(--nv-secondary-accent);
    }
  }
  /* maxes card title to 3 h3 lines */
  .card-title {
    background-color: tomato;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
    margin: 10px, 0, 0, 20px;
  }
  .btn {
    font-size: 1.6rem;
    width: 75px;
  }
  .dates-times {
    margin: 2rem 0;
  }
}